@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #f9faff;
}

.layout {
  min-height: 100vh;
  background: #f9faff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; /* Cụm trái - cụm phải */
  align-items: center;
  padding: 0 30px;
  background: #fff;
  height: 80px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px; /* khoảng cách giữa logo và menu */
}

.logo-img {
  height: 55px;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.phone-number {
  font-size: 18px;
  color: #d32f2f; /* đỏ đậm */
}

.auth-links {
  display: flex;
  gap: 15px;
  font-weight: 600;
}

.login-link {
  color: #1976d2; /* xanh dương */
  cursor: pointer;
}

.register-link {
  color: #f57c00; /* cam */
  cursor: pointer;
}

/* Content */
.content {
  width: 100%;
  padding: 60px 40px;
  padding-top: 30px;
  text-align: center;
  background-image: url('https://p16-hera-sg.larksuitecdn.com/tos-alisg-i-hn4qzgxq2n-sg/b2432d9ed2dc49b68258bf9f7bfae6fa.avif~tplv-hn4qzgxq2n-image-v1:0:0.image');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-size: 28px;
  margin-bottom: 40px;
}

.cards-row {
  margin-top: 30px;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-card {
  border: 2px solid #9bdafa !important;
  border-radius: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.pricing-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.pricing-card ul {
  list-style: none;
  padding-left: 0;
}

.pricing-card li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.pricing-card li::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('https://png.pngtree.com/png-clipart/20240822/original/pngtree-green-tick-mark-green-tick-photo-png-image_15824194.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-btn {
  background-color: #26b763;
  border: none;
  font-weight: 600;
  height: 50px;
  font-size: 18px;
  width: 70%;
  border-radius: 30px;
  color: white;
  box-shadow: 0 0 6px #26b763;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #1677ff;
  box-shadow: 0 0 12px #1677ff;
}
